<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="edayRoomEntities" connectionString="metadata=res://*/EdayRoomEntities.csdl|res://*/EdayRoomEntities.ssdl|res://*/EdayRoomEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMINISTRAD5A79\SQLEXPRESS;initial catalog=LidoNacional;user id=sa;password=j4v3s&amp;513rra;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>