.container {
    min-height: 600px;
    
}
/********************************************
Data Loader 
*********************************************/


.data-loading-wrapper {
    padding: 0px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
.data-loading-wrapper .data-loading-form {
    background-color: white;
    overflow: hidden;
    padding: 15px;
}
.data-loading-wrapper label
{
    font-weight: bold;
    width: 150px;
    clear: left;
    float: left;
    text-align: left;
    
}
.data-loading-wrapper div.data-loading-field, .data-loading-wrapper div.data-loading-buttons{
    padding-left: 10px;
    float: left;
    clear: right;
}
.data-loading-wrapper div.data-loading-buttons {
    text-align: right;
    float: right;
    padding: 10px;
}


/********************************************
Timeline items
*********************************************/
.timeline {
    overflow: auto;
    min-height: 100px;
}

.timeline table td{
    padding: 5px;
    
}
.timeline td.label  
{
    font-weight: bold;
    width: 150px;
    text-align: right;
    float: left;
}

#timeline-pendiente, #timeline-proximas, #timeline-alertas {
    /*height: 305px;*/
    padding: 5px 10px;
}
.timelineItem {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    -webkit-box-shadow: 0px 0px 5px black;
    -moz-box-shadow: 0px 0px 5px black;
    padding: 10px;
    margin-top: 10px;
    background: white /*url(/images/core/mws-report-bg.png) repeat-x*/;
    overflow: auto;
    position: relative;
}

.edit-panel {
    position: absolute;
    right: 10px;
    font-size: 10px;
    color: blue;
    cursor: pointer;
    z-index: 10;
}
.timelineItem .userPic{
    background-image: url(icons/profile-photo.jpg);
    width:  70px;
    height: 68px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
    float: left;
}

.timelineItem.alert {
    background-color: #FEF0B1;
    border-color: #DDCA76;
    color: #A98B15;
 }

.timelineItem.alert.blocked {
    background-color: #FFCBCA;
    border-color: #EB979B;
    color: #9B4449;
 }
 
.timelineItem .userInfo
{
    padding: 0px 10px;
    float: right;   
    width: 90%;
    position: relative;

}
.timelineItem .userInfo .timer {
    float: right;
    font-weight: bold;
    
}
.timelineProxima{
    background-color: #F0F0F0 !important;
}
.timelineItem .userInfo .timer-holder {
    
    width: 180px;
    position: absolute;
    right: 0;
    bottom: 0;
}
ul.alertaMessages {
    text-align:left; 
    height:50px; 
    overflow:auto; 
    width:350px; 
    list-style-type: 
    none; 
    margin:0;
    padding: 5px;
    border: 1px dashed #000; 
}
ul.alertaMessages li {
    margin: 0;
   
}

.tableIcon16 {
    width: 16px; 
    height: 16px;
}
.clickable 
{
    cursor: pointer;
}

#progressText {
    text-align: right;
    
}