@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Sorry, an error occurred while processing your request.
    @Model.Exception
    @Model.ActionName
    @Model.ControllerName
</h2>