<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--add name="edayRoomEntities" connectionString="metadata=res://*/Models.EdayRoomEntities.csdl|res://*/Models.EdayRoomEntities.ssdl|res://*/Models.EdayRoomEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMINISTRAD5A79\SQLEXPRESS;initial catalog=edayroom;user id=sa;password=j4v3s&amp;513rra;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dbConnSimple" connectionString="data source=ADMINISTRAD5A79\SQLEXPRESS;initial catalog=edayroom;user id=sa ;password=j4v3s&amp;513rra;" /-->

    <add name="edayRoomEntities" connectionString="metadata=
         res://EdayRoom.Models, Version=1.0.0.0, Culture=neutral, PublicKeyToken=40b13c38e00a7989/EdayRoomEntities.csdl|
         res://EdayRoom.Models, Version=1.0.0.0, Culture=neutral, PublicKeyToken=40b13c38e00a7989/EdayRoomEntities.ssdl|
         res://EdayRoom.Models, Version=1.0.0.0, Culture=neutral, PublicKeyToken=40b13c38e00a7989/EdayRoomEntities.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;
         data source=ADMINISTRAD5A79\SQLEXPRESS;initial catalog=LidoNacional;user id=sa;password=j4v3s&amp;513rra;multipleactiveresultsets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
    
    <add name="dbConnSimple" connectionString="data source=ADMINISTRAD5A79\SQLEXPRESS;initial catalog=LidoNacional;user id=sa ;password=j4v3s&amp;513rra;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="minSaltSize" value="10" />
    <add key="maxSaltSize" value="20" />
    <add key="userFilesDirectory" value="~/UserFiles" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
  </appSettings>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:15" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:15" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:15" />
      </staticContent>
    </system.webServer>
  </location>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" protection="All" />
    </authentication>
    <membership defaultProvider="EdayRoomMembershipProvider">
      <providers>
        <clear />
        <!--<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />-->
        <add name="EdayRoomMembershipProvider" type="EdayRoom.Security.EdayMembershipProvider" connectionStringName="dbConnSimple" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="EdayRoom" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="EdayRoleProvider">
      <providers>
        <clear />
        <add name="EdayRoleProvider" type="EdayRoom.Security.EdayRoleProvider" connectionStringName="dbConnSimple" applicationName="EdayRoom" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <!--staticContent>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EdayRoom.API.ws.APIAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>