@{
    ViewBag.Title = "Alertas";
    ViewBag.AlertasMenuClass = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    var oTable = null; 
    $(document).ready(function() {
        oTable = $(".mws-datatable").dataTable({
            "bServerSide": true,
            "bProcessing": true,
            "sAjaxSource": "@Url.Action("GetTableAlertas")?modulo=@ViewData["modulo"]",
            "sPaginationType": "full_numbers",
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "quickCountOnly", "value": $("#filterQuickCount").is(':checked') }
                );
            }
        });
        $("#filterQuickCount").click(function() {
            if(oTable) {
                oTable.fnDraw();
            }
        });

    });
</script>
<div id="panel-centros">
    
    <div class="mws-panel grid_8">
        <div class="mws-panel-header">
            <span class="mws-i-24 i-table-1">Centros de votacion</span>
        </div>
        <div class="mws-panel-body">
            <input type="checkbox" id="filterQuickCount" /> Filtrar centros de conteo rápido
            <table class="mws-datatable mws-table">
                <thead>
                    <tr>
                        <th>Centro</th>
                        <th>Id Centro</th>
                        <th>Mesa</th>
                        <th>Modulo</th>
                        <th>Alerta</th>
                        <th>Estado</th>
                        <th>Municipio</th>
                        <th>Parroquia</th>
                        <th>Fecha</th>
                        <th>usuario</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="panel-mesas" class="grid_8" style="display: none;">
    <div id="panel-mesas-spinner" style="height: 20px; margin: auto; margin-top: 100px;
        width: 20px;">
    </div>
    <div id="panel-mesas-content">
    </div>
</div>
<div id="panel-detalle-mesas" class="grid_8" style="display: none;">
    <div id="panel-detalle-mesas-spinner" style="height: 20px; margin: auto; margin-top: 100px;
        width: 20px;">
    </div>
    <div id="panel-detalle-mesas-content">
    </div>
</div>
